#ServiceAbout {
    width: 100%;
}
#ServiceAbout h1 {
    color:var(--main-color);
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}
#ServiceAbout p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 28px;
    line-height: 50px;
    margin-top: 70px;
    margin-bottom: 120px;
}