@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
#ServiceCover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../../images/Boarding.png");
    background-position: center center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#DWCover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../../images/DogWalking.png");
    background-position: center center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#TrainingCover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../../images/Training.png");
    background-position: center center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#VeterinaryCover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../../images/Veterinary.png");
    background-position: center center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#PDCCover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../../images/PDC.png");
    background-position: center center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#TrainingCover .ServiceHero,#DWCover .ServiceHero,#ServiceCover .ServiceHero,#VeterinaryCover .ServiceHero,#PDCCover .ServiceHero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#TrainingCover .ServiceHero h1,#DWCover .ServiceHero h1,#ServiceCover .ServiceHero h1 ,#VeterinaryCover .ServiceHero h1,#PDCCover .ServiceHero h1{
    font-size:70px;
    font-family: 'IBM Plex Sans', sans-serif;
    color:var(--white);
}
#TrainingCover .ServiceHero p,#DWCover .ServiceHero p,#ServiceCover .ServiceHero p ,#VeterinaryCover .ServiceHero p,#PDCCover .ServiceHero p{
    color:var(--white);
    margin-top: 20px;
    margin-bottom: 50px;
}
#TrainingCover .ServiceHero .Service-btn,#DWCover .ServiceHero .Service-btn,#ServiceCover .Service-btn ,#VeterinaryCover .ServiceHero .Service-btn,#PDCCover .ServiceHero .Service-btn{
    background-color: var(--main-color);
    padding: 14px 40px;
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    border: 2px dashed var(--main-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    font-size: 16px;
   }
   
#TrainingCover .Service-btn span:last-child, #DWCover .Service-btn span:last-child,#ServiceCover .Service-btn span:last-child ,#VeterinaryCover .Service-btn span:last-child,#PDCCover .Service-btn span:last-child{
    display: none;
   }
   
#TrainingCover .Service-btn:hover,#DWCover .Service-btn:hover,#ServiceCover .Service-btn:hover,#VeterinaryCover .Service-btn:hover,#PDCCover .Service-btn:hover{
    transition: .4s;
    border: 2px dashed var(--main-color);
    background-color: #fff;
    color: var(--main-color);
   }
   
#TrainingCover .Service-btn:active,#DWCover .Service-btn:active , #ServiceCover .Service-btn:active ,#VeterinaryCover .Service-btn:active,#PDCCover .Service-btn:active{
    background-color: #87dbd0;
}