* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center-stepper {
    display: flex;
    justify-content: center;
    align-items: center;
}
#firststep,#secondstep{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
#firststep .errorMsg {
    color: red;
    font-size: 24px;
    margin: 3px 0;
}
#firststep .imgPreview {
    width: 170px !important;
    height: 170px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #4589EF;
    border:2px solid #4589EF;
    position: relative;
} 
#firststep .imgPreview input[type="file"] {
    display: none;
}
#firststep .imgPreview .customFileUpload {
    color: #4589EF;
    font-size: 22px;
    font-weight: 500;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
#firststep .iconfile {
    font-size: 40px;
    margin-bottom: 10px;
}
#firststep .delete {
    border: none;
    background: transparent;
    outline: none;
    color: #4589EF;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top:0;
    right: 4px;
}
#firststep .form {
    margin-top: 40px;
    width:45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#firststep .field {
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
#firststep .field2 {
    width: 45%;
}
#firststep .nextfirst {
    width: 90%;
}
.form .nextfirst {
    display: flex;
    height: 4em;
    width: 90%;
    align-items: center;
    justify-content: center;
    background-color: #4589EF;
    color:white;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #4589EF;
}   
.form .nextfirst span {
    font-size: 25px;
    margin-right: 8px;
}
.form .nextfirst > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}
   
.nextfirst:hover > svg {
    font-size: 20px;
    transform: translateX(10px);
   }
.nextfirst:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
#secondstep {
    color: #6c757d;
}
#secondstep .form {
    margin-top: 40px;
    width:45%;
    display: flex;
    flex-direction: column;
}
#secondstep .secondstep_services h3,#secondstep .step_price h3 ,#secondstep .step_detail h3,#secondstep .step_dates h3{
    margin-bottom: 15px;
}
#secondstep h3,#secondstep h4 {
    font-weight: lighter;
}
#secondstep h4 {
    text-transform: uppercase;
}
#secondstep .check {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
#secondstep .step_services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
#secondstep .step_service {
    border:1px solid #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
}
#secondstep .step_service:hover {
    color:black;
    border:1px solid black;
}
#secondstep .step_service:last-child {
    width: 200%;
}
#secondstep .step_services svg {
    margin-right:20px;
}
#secondstep .step_services svg path {
    fill:#6c757d;
}
#secondstep .step_service:hover svg path {
    fill:black;
}
#secondstep .step_price {
    margin-top: 30px;
}
#secondstep .step_price .field:nth-child(1) {
    margin-right: 30px;
}
#secondstep .step_detail {
    display: flex;
    max-width: 100%;
    margin-top: 30px;
    position: relative;
}
#secondstep .step_detail .detail ,#secondstep .step_dates  {
    position: relative;
}
#secondstep .step_detail .detail ,#secondstep .step_dates .step_date{
    width: 45%;
}
#secondstep .step_detail .detail:last-child ,#secondstep .step_dates .step_date:last-child{
    position: absolute;
    right: 0;
}
#secondstep .step_detail .detail .field2,#secondstep .step_detail .detail .field,#secondstep .step_dates .step_date .field{
    width: 100%;
}
#secondstep .step_dates {
    display: flex;
    margin-top: 30px;
}
#secondstep .buttons {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 30px;
}
#secondstep .buttons button{
    width: 45%;
}
#secondstep .buttons button:last-child {
    background-color: #4589EF;
    position: absolute;
    right: 0;
}
#secondstep .nextstep {
    display: flex;
    height: 4em;
    align-items: center;
    justify-content: center;
    background-color: #4589EF;
    color:white;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
} 
#secondstep .backstep  {
    border:2px solid #4589EF;
    color:#4589EF;
    background: transparent;
    display: flex;
    height: 3.9em;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
}
#secondstep button span {
    font-size: 25px;
    margin-right: 8px;
}
#secondstep .nextstep > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
} 
#secondstep .backstep > svg {
    margin-right: 25px;
    font-size: 20px;
    transition: all 0.4s ease-in;
} 
#secondstep button > svg {
    font-size: 20px;
    transform: translateX(10px);
   }
#secondstep button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}




  

